<div class="section section04">

  <!-- ************************************************************
  //
  //  block01
  //
  // ************************************************************ -->
  <div class="block block01">

    <!-- bg -->
    <img src="/project-name/assets/resource/img/history/img01_sp.jpg" alt="" class="bg responsiveImg spSize">

    <!-- textWrap -->
    <div class="textWrap">
      <p class="text text01">Watch & History</p>
      <div class="bar"></div>
      <h2 class="tit">
        <img src="/project-name/assets/resource/img/history/text02_sp.png" alt="" class="responsiveImg spSize">
      </h2>
      <p class="text text02">
        スタイリッシュなフォルムに隠された理由。<br class="pc">
        文字盤に潜むディテールへのこだわり。<br>
        デザインの過去と現在を知れば「ティファニー イースト ウエスト」がもっと愛しく思えてくる。
      </p>
    </div>

    <!-- textWrap -->
    <div class="textWrap02 fList">
      <div class="item"><span>THE PAST</span></div>
      <div class="item"><span>NOW</span></div>
      <div class="bar"></div>
    </div>

  </div>

  <!-- ************************************************************
  //
  //  block02
  //
  // ************************************************************ -->
  <div class="block block02">

    <!-- ************************************************************
    //  year bg
    // ************************************************************ -->
    <div class="year year01">1949</div>
    <div class="year year02">1980</div>
    <div class="year year03">2016</div>

    <!-- ************************************************************
    //  past
    // ************************************************************ -->
    <div class="blockInner blockInner01">

      <h3 class="tit tit01">The Past</h3>

      <!-- tit -->
      <h3 class="tit tit02">
        始まりは、1940年代の旅人が大切にしていたトラベルクロック。
      </h3>

      <div class="textWrap textWrap01">
        <!-- text -->
        <p class="text text01">
          　「ティファニー イースト ウエスト」の原型となったのは、小さなトラベルクロック。1940年代という、誰もが平和と開放感を謳歌していた頃に作られたもの。戦争が終わって列車や船舶、車などが一般化し、世界が交通網で結ばれて、多くの人々が旅行を楽しみ始めた時代。このトラベルクロックはきっと、そうしたうちのひとりがスーツケースに忍ばせていたものかもしれない。
        </p>

        <p class="text text02">
          それでも長距離移動が自由になったとはいえ、この頃「旅」はまだいまよりもずっと特別なものだったはず。旅行用の服にきちんと着替え、靴もピカピカに磨きあげ、身近な人にいとまを告げて……と、まるでちょっとした人生のイベント。スーツケースだって1個では済まない。
        </p>

      </div>

      <!-- img -->
      <div class="imgWrap imgWrap01">
        <div class="imgInner">
        <div class="bg"></div>
        <img src="/project-name/assets/resource/img/history/img02_sp.jpg" alt="" class="responsiveImg spSize">
        </div>
      </div>

      <div class="textWrap textWrap02">

        <p class="text text03">
          コンパクトに持ち運べるこのトラベルクロックは、文字盤の数字がくっきりしていて見やすく、リュウズも大きめで回しやすい。持ち主はもしかしたら、アメリカ大陸を横断する夜行列車に乗って、枕元にこの時計を置いていたのかも。港に着いたら汽船に乗って、大西洋を渡ろうとしていたのかも。
        </p>
        
        <p class="text text04">
          何もかもがとても便利とは言い切れなかったこの時代、時間を大切にすることも、人生をすてきに生きることにきっとつながっていたのだ。
        </p>

      </div>

      <!-- img -->
      <div class="imgWrap imgWrap02">
        <img src="/project-name/assets/resource/img/history/img03_sp.jpg" alt="" width="480" height="320" class="spSize">
        <span>トラベルクロック</span>
      </div>

      <!-- img -->
      <div class="imgWrap imgWrap03">
        <div class="imgInner">
        <div class="bg"></div>
        <img src="/project-name/assets/resource/img/history/img04_sp.jpg" alt="" width="390" height="260" class="spSize">
        </div>
      </div>

      <!-- img -->
      <div class="imgWrap imgWrap04">
        <div class="imgInner">
        <div class="bg"></div>
        <img src="/project-name/assets/resource/img/history/img05_sp.jpg" alt="" width="400" height="600" class="spSize responsiveImg">
        <span>グランドセントラル駅の大時計</span>
        </div>
      </div>

      <div class="textWrap textWrap03">

        <p class="text text05">
          もし、マンハッタンを旅することがあったなら、グランドセントラル駅のファサードを見上げてみよう。そこで時を刻んでいる大時計は、ティファニーの初代デザインディレクター、ルイス・コンフォート・ティファニーが手がけたもの。アール ヌーヴォーの芸術家だった彼が、この大時計のステンドグラスをデザインしたのだ。旅のロマンとティファニーは、こんなにも密接につながっている。
        </p>

      </div>

    </div>

    <!-- ************************************************************
    //  yearMid
    // ************************************************************ -->    

    <div class="yearMid">

      <div class="bar"></div>
      <div class="year04">1996</div>
      <div class="bar"></div>

    </div>

    <!-- ************************************************************
    //  now
    // ************************************************************ -->
    <div class="blockInner blockInner02">

      <h3 class="tit tit03">Now</h3>

      <!-- img -->
      <div class="imgWrap imgWrap05">
        <div class="imgInner">
        <div class="bg"></div>
        <img src="/project-name/assets/resource/img/history/img06_sp.jpg" alt="" width="420" height="630" class="spSize">
        </div>
      </div>

      <!-- tit -->
      <h3 class="tit tit04">
        いまも昔も変わらない、マンハッタンの街からイメージを膨らませて。
      </h3>

      <div class="textWrap textWrap04">

        <!-- text -->
        <p class="text text06">
          　「ティファニー イースト ウエスト」はトラベルクロックが原型となっていることから、文字盤が横向き。モダンな長方形のフォルムは、東西に伸びるマンハッタンの地形をシンボライズしている。レトロ感漂うアラビア数字は、全体をまとめるシャープなフォルムとは対照的な雰囲気で、小粋なアメリカン アールデコのよう。
        </p>

        <p class="text text07">
          「ティファニー イースト ウエスト ミニ」のサイズは37×22mmで、どんなシーンでも着けやすい、ほどよいサイズ感が魅力。またストラップは、遊び心の利いたダブルラップ（二重巻き）と、シングルラップ（一重巻き）で気分に合わせて付け替えることが可能。存在感のあるダブルラップは手元のアクセントになるし、すっきりとしたシングルラップはオーセンティックな着こなしにもよく似合う。
        </p>

        <p class="text text08">
          ニューヨークのスピリットそのものの「ティファニー イースト ウエスト」を身に纏ったら、街へ繰り出そう。きっと何かが変わって見えるはず。
        </p>

      </div>

    </div>

    <!-- ************************************************************
    //  product
    // ************************************************************ -->
    <div class="product">
      
      <!-- slider -->
      <div class="sliderWrap">
        <div class="slider">
          <img src="/project-name/assets/resource/img/history/img07_sp.jpg" height="426" width="640" alt="" class="spSize">
        </div>

        <div class="arrowWrap">
          <%- include('../../../resource/svg/history/arrowL.svg'); %>
          <%- include('../../../resource/svg/history/arrowR.svg'); %>
          <%- include('../../../resource/svg/history/arrowL_pc.svg'); %>
          <%- include('../../../resource/svg/history/arrowR_pc.svg'); %>
        </div>

      </div>
    
      <!-- details -->
      <div class="details">
        <h3 class="tit">グレーストラップ<span>×</span>文字盤ピンク</h3>
        <p class="detail">
          ライトグレーとペールピンクの組み合わせがフェミニン。<br class="pc">
          交換可能なシングルストラップ付き。<br>
          クオーツ式ムーブメント、3気圧防水（30m）、<br class="pc">
          スイス製。<br class="sp">「ティファニー イーストウエスト ミニ」<br class="pc">
          ステンレススチール（37×22mm）
        </p>
        <p class="price">￥469,800</p>
      </div>

      <!-- indicator -->
      <ul class="indicator row">
        <li class="item isActive"></li>
        <li class="item"></li>
        <li class="item"></li>
        <li class="item"></li>
        <li class="item"></li>        
      </ul>

    </div>

  </div>

  <!-- ************************************************************
  //
  //  block03
  //
  // ************************************************************ -->
  <div class="block block03">

    <!-- text -->
    <p class="text text01">
      ティファニー・アンド・カンパニー・ジャパン・インク<br>
      <span class="subText subText01">0120-488-712</span><br>
      <span class="subText subText02">www.tiffany.co.jp</span>
    </p>

    <div class="details">
      <p class="name01">
        Photos : amanaimage,  
      </p>
      <p class="name02">
        Texte : KEIKO HOMMA
      </p>
    </div>

    <div class="share">
      <h3 class="tit">
        <span>SHARE</span>
        <div class="bar"></div>
      </h3>
      
      <ul class="row">
        <li class="item"><%- include('../../../resource/svg/fb.svg'); %></li>
        <li class="item"><%- include('../../../resource/svg/tw.svg'); %></li>
      </ul>
    </div>

  </div>

  <!-- ************************************************************
  //
  //  block04 footer
  //
  // ************************************************************ -->
  <div class="block block04">

    <div class="pageTop">
      <span>PAGE TOP</span>
      <%- include('../../../resource/svg/arrow_b.svg'); %>
    </div>
    <p class="copy">
      COPYRIGHT SOCIETE DU FIGARO COPYRIGHT CCC Media House Co.,Ltd.<br>
      NO REPRODUCTION OR REPUBLICATION WITHOUT WRITTEN PERMISSION.
    </p>

  </div>

</div>