<div class="section section03" data-id="interview">

  <!-- ************************************************************
  //  sp
  // ************************************************************ -->
  <div class="box box01">

    <!-- bg -->
    <img src="/project-name/assets/resource/img/interview/index/img01_sp.jpg" height="880" width="750" alt="" class="bg spSize flex">

    <!-- text -->
    <div class="textWrap">
      <p class="text text01">Interview</p>
      <div class="bar"></div>
      <h2 class="tit">
        <img src="/project-name/assets/resource/img/interview/index/text01_sp.png" height="216" width="613" class="spSize">
      </h2>
      <p class="text text02">
        自由でいて充実した時間、次の瞬間には何かがガラリと変化する可能性。ニューヨークという街では、同じ1分間のなかで体験できることが他の都市と異なるのかもしれない。そんな時間の流れを「NY MINUTE」と定義づけ、ニューヨークと東京のクリエイターに、ニューヨークという街の魅力や時間の使い方などを聞いた。この企画のために特別に制作してもらったオリジナル作品もチェック。
      </p>
    </div>

    <!-- sns -->
    <div class="snsWrap">
    <div class="sns sp">
      <div class="iconShare">
        <%- include('../../../resource/svg/icon_share.svg'); %>
      </div>
      <div class="bar"></div>
      <ul class="list fList">
        <li class="item"><%- include('../../../resource/svg/interview/details/fb.svg'); %></li>
        <li class="item"><%- include('../../../resource/svg/interview/details/tw.svg'); %></li>
        <li class="item"><%- include('../../../resource/svg/interview/details/mail.svg'); %></li>
        <li class="item"><%- include('../../../resource/svg/top/icon_line.svg'); %></li>
      </ul>
    </div>
    </div>

    <!-- indicator -->
    <div class="indicator">
      <img src="/project-name/assets/resource/svg/line.svg" alt="" class="line">
      <span class="current">3</span>
      <span class="total">4</span>
    </div>
    
  </div>

  <div class="box box02">
  <a href="/interview/01/" class="pjax">

    <!-- bg -->
    <img src="/project-name/assets/resource/img/interview/index/img02_sp.jpg" height="450" width="750" alt="" class="bg spSize flex">
  
    <!-- tit   -->
    <div class="titWrap">

      <div class="rectBg"></div>
      
      <!-- num -->
      <div class="numWrap">
        <p>INTERVIEW&nbsp;01</p>
        <div class="bar"></div>
      </div>

      <p class="position">Owner Chef of “BURROW”</p>
      <p class="name">Ayako Kurokawa</p>
      <p class="detail">
        READ MORE
        <%- include('../../../resource/svg/arrow.svg'); %>
      </p>
    </div>
      
  </a>    
  </div>

  <div class="box box03">
  <a href="/interview/02/" class="pjax">

    <!-- bg -->
    <img src="/project-name/assets/resource/img/interview/index/img03_sp.jpg" height="450" width="750" alt="" class="bg spSize flex">
  
    <!-- tit   -->
    <div class="titWrap">

      <div class="rectBg"></div>
      
      <!-- num -->
      <div class="numWrap">
        <p>INTERVIEW&nbsp;02</p>
        <div class="bar"></div>
      </div>

      <p class="position">Illustrator</p>
      <p class="name">Meghann Stephenson</p>
      <p class="detail">
        READ MORE
        <%- include('../../../resource/svg/arrow.svg'); %>
      </p>
    </div>
      
  </a>
  </div>

  <div class="box box04">
  <a href="/interview/03/" class="pjax">

    <!-- bg -->
    <img src="/project-name/assets/resource/img/interview/index/img04_sp.jpg" height="450" width="750" alt="" class="bg spSize flex">
  
    <!-- tit   -->
    <div class="titWrap">

      <div class="rectBg"></div>
      
      <!-- num -->
      <div class="numWrap">
        <p>INTERVIEW&nbsp;03</p>
        <div class="bar"></div>
      </div>

      <p class="position">Artist</p>
      <p class="name">AyaBambi</p>
      <p class="detail">
        READ MORE
        <%- include('../../../resource/svg/arrow.svg'); %>
      </p>
    </div>
  
  </a>    
  </div>

  <div class="box box05">
  <a href="/history/" class="pjax">

    <!-- bg -->
    <img src="/project-name/assets/resource/img/interview/index/img05_sp.jpg" height="250" width="750" alt="" class="bg spSize flex">
  
    <!-- tit   -->
    <div class="titWrap">

      <p class="text">Watch &amp; History</p>
      <!-- <div class="barWrap"><div class="bar"></div></div> -->
      <%- include('../../../resource/svg/top/arrow_sp.svg'); %>      

    </div>
  
  </a>    
  </div>

  <!-- ************************************************************
  //  pc
  // ************************************************************ -->
  <!-- ul -->
  <div class="ul_pc fList">

    <div class="item">
    <a href="/interview/01/" class="pjax">

    </a>
    </div>

    <div class="item">
    <a href="/interview/02/" class="pjax">

    </a>
    </div>

    <div class="item">
    <!-- <a href="/interview/03/" class="pjax"> -->
    
    <!-- </a> -->
    </div>

  </div>

</div>